/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.hidden{
    display: none!important;
}


/* CONTAINER */
.container{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;

    /* DEBUG */
    border: 1px solid black;
}

/* Header container */
.header-container{
    width: 100%;
    height: 10vh;
    padding: 0 .5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#btn-play{
    font-size: .8rem;
    padding: .2em 1em;
}

select{
    font-size: .8rem;
    padding: .2em 1em;
}

/* Main container */
.main-container{
    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: aqua;
}

.grid{
    width: 550px;
    height: 550px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.square{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    cursor: pointer;
}

.square.easy{
    width: calc(100% / 10);
    height: calc(100% / 10);
}

.square.medium{
    width: calc(100% / 9);
    height: calc(100% / 9);
}

.square.hard{
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.square.active{
    background-color: aquamarine;
}

/* Footer container */
.footer-container{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
}



